*{
font-family: arial;    
}

body{
background: #eee;
}

.loginbox{
width: 350px;
padding: 40px 30px;
background: #fff;
border-radius: 4px;
margin: auto;
position: absolute;
left: 0;
right: 0;
top: 30%;    
text-align:center;
}

.username{
position: relative;
margin-bottom: 15px;
}

.username .fa{
position: absolute;
right: 15px;
top: 21px;
color: #999;
}

.password{
position: relative;
margin-bottom: 15px;
}

.password .fa{
position: absolute;
right: 15px;
top: 21px;
color: #999;      
}

.input{
width: 95%;
height: 50px;
padding: 3px 0px 3px 15px;
background: #fff;
color: #666;
border: 2px solid #ddd;
border-radius: 4px;
}

.button{
background:#2A8B9D;
display: inline-block;
width: 100%;
font-size: 16px;
height: 50px;
color: #fff;
text-decoration: none;
border: none;
border-radius: 4px;
}

.navbar{
text-align:center;
position: fixed;
}

.fa-users-cog{
color:#2A8B9D;    
font-size:60px;
margin-bottom:15px;
}

.navbar .fa-users-cog{
color:#2A8B9D;    
font-size:60px;
margin-bottom:10px;
margin-top:5px;
margin-left:20px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width:140px; 
height: 100%; 
text-align:left;
}


li a {
display: block;
width:140px;
color:#4c4c4c;
padding: 12px 16px;
text-decoration:none;
    
}

li a:hover {
background-color: #2A8B9D;
color: white;
}


.activeStyle {
background-color: #2A8B9D;
color: white;
}

.placeholder {
position:inline;
background-color:white;
width:36%;
height:100%;
border-radius:4px;
float:right;
margin-right:2%;
}