* {
  font-family: arial;
  margin: 0;

}

body {
  padding: 0;

}
.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 100vh;
}

/* navbar */
.navbar .fa-users-cog {
  color: #2a8b9d;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
}

li a {
  display: block;
  width: 12vw;
  color: #4c4c4c;
  padding: 12px 16px;
  text-decoration: none;
  box-sizing: border-box;
}

li a:hover {
  background-color: #2a8b9d;
  color: white;
}

.activeStyle {
  background-color: #2a8b9d;
  color: white;
}

.placeholder {
  background: #fff;
}
.friendsinput {
  width: 30%;
  height: 30px;
  padding: 3px 0px 3px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-left: 25px;
}

.infoinput {
  width: 30%;
  height: 120px;
  padding: 3px 0px 3px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-left: 25px;
}



.file-input {
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 0px 16px 0px 30px;
  width: 350px;
  position: relative;
  border-radius: 4px;
}

.file-input > [type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .filebutton {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 8px;
}

.file-input:hover > .filebutton {
  background: #2a8b9d;
  color: white;
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: 0.3;
}








/* Login admin style */
.loginbox {
  width: 350px;
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
}

.username {
  position: relative;
  margin-bottom: 15px;
}

.username .fa {
  position: absolute;
  right: 15px;
  top: 21px;
  color: #999;
}

.password {
  position: relative;
  margin-bottom: 15px;
}

.password .fa {
  position: absolute;
  right: 15px;
  top: 21px;
  color: #999;
}

.input {
  width: 95%;
  height: 50px;
  padding: 3px 0px 3px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.button {
  background: #2a8b9d;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.addbutton {
  background: #2a8b9d;
  display: inline-block;
  width: 100px;
  font-size: 16px;
  height: 35px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 25px;
}

.fa-users-cog {
  color: #2a8b9d;
  font-size: 60px;
  margin-bottom: 15px;
}
