*{
font-family: arial;    
}

body{
background: #eee;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width:140px; 
height: 100%;
position: fixed; 
}



li a {
display: block;
width:140px;
color:#4c4c4c;
padding: 12px 16px;
text-decoration:none;
    
}

li a:hover {
  background-color: #2A8B9D;
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.whitespace {
position:inline;
background-color:white;
width:36%;
height:100%;
border-radius:4px;
float:right;
margin-right:2%;
}

.whitespace-left{
overflow-y: scroll;
width:100%;
float:left;
}

whitespace-right{
overflow-y: scroll;
float:right;    
}

.title{
width: 450px;
padding-left: 30px;
background: #fff;
position: relative;    
}

.information{
width: 450px;
background: #fff;
position: relative;  
}

.information .input{
height:125px;
margin-left:30px;
}

.input{
width: 100%;
height: 50px;
padding: 3px 0px 3px 15px;
background: #fff;
color: #666;
border: 2px solid #ddd;
border-radius: 4px;
}

.input-address{
width: 87%;
height: 50px;
padding: 3px 0px 3px 15px;
background: #fff;
color: #666;
border: 2px solid #ddd;
border-radius: 4px;
margin-left:30px;
margin-bottom:10px;
}

.input-addressnr{
width: 20%;
height: 50px;
padding: 3px 0px 3px 15px;
background: #fff;
color: #666;
border: 2px solid #ddd;
border-radius: 4px;
margin-left:30px;

}

.input-addressplace{
width: 60%;
height: 50px;
padding: 3px 0px 3px 15px;
background: #fff;
color: #666;
border: 2px solid #ddd;
border-radius: 4px;
margin-left:30px;
}


h4 {
font-size:15px;
color:#4c4c4c;
margin:25px 0px 10px 30px;
}

.button{
background:#2A8B9D;
display: inline-block;
width: 23%;
font-size: 16px;
height: 40px;
color: #fff;
text-decoration: none;
border: none;
border-radius: 4px;
float:right;
margin-top:10px;
margin-right:30px;
}

.file-input {
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 0px 16px 0px 30px;
  width: 350px;
  position: relative;
  border-radius: 4px;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .filebutton {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 8px;
}

.file-input:hover > .filebutton {
  background: #2A8B9D;
  color: white;
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}

.greyspace {
position:inline;
background-color:#eee;
width:90%;
height:10%;
border-radius:4px;
float:right;
margin-right:5%;
margin-bottom:10px;
}


.fa-users-cog{
color:#2A8B9D;    
font-size:60px;
margin-bottom:15px;
text-align:center;
}

.fa-user{
color:#4c4c4c;
font-size:40px;
margin-top:15px;
margin-left:10px;
}


.delete{
background:#eee;
display: inline-block;
width: 23%;
font-size: 25px;
height: 40px;
color: #4c4c4c;
text-decoration: none;
border: none;
border-radius: 4px;
float:right;
margin-top:5px;

}

.delete :hover{
color:red;
}

.moveUp{
background:#eee;
display: inline-block;
width: 23%;
font-size: 25px;
height: 40px;
color: #4c4c4c;
text-decoration: none;
border: none;
border-radius: 4px;
float:right;
margin-top:5px;


}

.moveDown{
background:#eee;
display: inline-block;
width: 23%;
font-size: 25px;
height: 40px;
color: #4c4c4c;
text-decoration: none;
border: none;
border-radius: 4px;
float:right;
margin-top:5px;
}

